---
title: Not so brief journey through the note-taking landscape again and even longer now wow this should wrap
description: Not so brief journey through the note-taking landscape
date: 2021-03-18
tags:
  - note-taking
layout: layouts/post.njk
permalink: /note-taking-overview/
eleventyNavigation:
  key: Note taking
  order: 3
---
## Project management - kanban boards

Nástroje těžšího kalibru, často používané při práci v týmu. Kanban je cca metodika kdy máš jednotlivé kroky nějakého procesu (např. backlog -> in progress -> done, cokoliv ti vyhovuje) a jednotlivé “úkoly” v něm posouváš zleva doprava. Tyhle tooly jsou všechny v základu kanban ale podporují i jiné “pohledy” (timeline, seznam, atp.). U jednotlivých úkolů/položek můžeš často definovat závislosti (souvisí s…, blokuje …), kdo je má na starosti, přidávat k nim štítky, poznámky atp.

Na nějaký softwarový projekt ideální ale nejen já je používám i na osobní věci. Takhle jsem měl například “kanban board” na výběr stavební firmy na dům (kontaktovat -> čekám na odpověd -> poslat projekt -> rozpočet -> koš) nebo na osobní cíle kde tuhle pipeline používám čistě jako sloupce a nic víc (work, family, personal).

Nejčastěji lidi používají [Trello](https://trello.com/) - pravděpodobně proto že mají dobře zvládnutý onboarding a člověk je v něm rychle produktivní. Existuje i česká alternativa/kopie [Freelo](https://www.freelo.cz/cs). Já už na jednom projektu používám i [Clubhouse](https://clubhouse.io/), který umožňuje ve free verzi víc než Trello ale člověk už musí být trochu zajetý aby se v tom neztratil.


**Winner: [Trello](https://trello.com/)**
Runner-ups: [Clubhouse](https://clubhouse.io/), [Freelo](https://www.freelo.cz/cs)

## Note-taking

Na kratší poznámky vítězí [Google Keep](https://keep.google.com/). Umí textové poznámky, obrázky, připomenutí na základě místa nebo času a také sdílení poznámek (klasika pro partnerské nákupní seznamy). Na jakékoliv delší poznámky pak používám [Simplenote](https://simplenote.com/) (hezky taky vypadá [Laverna](https://laverna.cc/)). Na dlouhé dokumenty, nebo když je potřeba kolaborace pak dobře slouží [Google Drive](https://www.google.cz/drive/apps.html). Ten je ale trochu heavy takže teď na nějaké work-in-progress věci používám [HackMD](https://hackmd.io/) který je jednoduchý, rychlý a podporuje kolaboraci a šablony.

**Winner: [Keep](https://keep.google.com/) + [HackMD](https://hackmd.io/)**
Runner-ups: [Simplenote](https://simplenote.com/), [Drive](https://www.google.cz/drive/apps.html), [Laverna](https://laverna.cc/)

## To-do lists

Tady opět na běžné použití [Google Keep](https://keep.google.com/). V práci pak všechny úkoly hážu do [Taskwarriora](https://taskwarrior.org/) hlavně proto že je to CLI nástroj, tedy ho mám v příkazové řádce pořád po ruce
**Winner: [Keep](https://keep.google.com/)**
Runner-ups: [Taskwarrior](https://taskwarrior.org/)


## Read-it later

Za mě naprosto zásadní. Dobrej článek ale je dlouhej? Šup na později. Zajímavá služba ale nemám čas ji zkoumat? Na později. Asi jsem to trochu přepískl, protože tam mám už několik tisíc článků ale dá se s tím pracovat i efektivně :) (např. si každé ráno projít RSS kanál nebo feedy mých oblíbených webů, naházet do čtečky a přečíst pak třeba na konci týdne najednou). Vím že dost populární je Instapaper ale za mě jednoznačně vede [Pocket](https://getpocket.com/). Mají jednoduchou appku, offline režim, možnost text-to-speech, tagy, atp.

**Winner: [Pocket](https://getpocket.com/)**

## Database-like

Tady už jsou ty možnosti trochu bohatší. Moc jsem ještě nepoužíval ale podle mě by se to dalo přirovnat k tabulce, kde můžeš jednotlivým sloupcům/řádkům přidávat různé datové typy (datum, měna, výběr z možností) a odkazovat se na hodnoty z jiných tabulek. Plus filtry a nějaké dobré API rozhraní. Nejpoužívanější je v tomhle podle mě [Airtable](https://airtable.com/) ale tenhle týden jsem zrovna narazil na open source alternativu [Baserow](https://baserow.io/)

**Winner: [Airtable](https://airtable.com/)**
Runner-ups: [Baserow](https://baserow.io/)

## Integrace

Musel jsem sem zařadit, protože při téhle práci s datama si člověk občas řekne “chtěl bych aby se mi nový maily přidávali do Airtable” nebo “tohle bych rád automaticky zálohoval na Dropbox” atp. A tohle jsou přesně nástroje které tohle umožňují. Jednoduše naklikat integraci mezi několika různýma nástrojema. Já na tohle kdysi používal [IFTTT](https://ifttt.com/) (If This Then That) ale jednička celosvětově je teď [Zapier](https://zapier.com/). Hned za ním údajně česká firma [Integromat](https://www.integromat.com/cs) - tam to vypadá taky dost zajímavě

**Winner: [IFTTT](https://ifttt.com/)**
Runner-ups: [Zapier](https://zapier.com/), [Integromat](https://www.integromat.com/cs)

## Wiki tools

Podle mě dobrá forma na nějakou knowledge base (osobní/firemní/projektovou). Strukturovaná sada rich dokumentů, mezi kterými se může odkazovat. Osobně jsem kdysi používal [tiddlywiki](https://tiddlywiki.com/) a [dokuwiki](https://www.dokuwiki.org/dokuwiki) ale dnes bych šel do něčeho modernějšího - v merku mám hodně [wiki.js](https://js.wiki/) nebo [Bookstack](https://www.bookstackapp.com/) ale nezkoušel jsem

**Winner: ?**
Runner-ups: [Wiki.js](https://js.wiki/), [Bookstack](https://www.bookstackapp.com/), [Tiddlywiki](https://tiddlywiki.com/), [Dokuwiki](https://www.dokuwiki.org/dokuwiki)

## Outliner tools

Tohle je za mě ideální forma soukromého wiki nástroje. V základu jde vždycky o víceúrovňový odrážkový seznam. Zní to jako jednoduchá věc co si uděláš ve Wordu ale podle mě to docela trefuje ten balanc mezi komplexitou a organizovaností. Občas to lidi používají i na nějakou koncepční práci kdy potřebuješ jen něco rozpadnout na problémy, podproblémy atp. (třeba při psaní knížky nebo vlastně u jakéhokoliv většího projektu). Dřív jsem používal [Workflowy](https://workflowy.com/) a pak [Dynalist](https://dynalist.io/) kde je ten pricing mnohem benevolentnější ale nakonec jsem našel open source alternativu [Trillium](https://github.com/zadam/trilium). Je s tím víc režie na rozjetí a nemá to easy-to-use appku ale ou jé - ty možnosti jsou tam bezva

**Winner: [Trillium](https://github.com/zadam/trilium)**
Runner-ups: [Dynalist](https://dynalist.io/), [Workflowy](https://workflowy.com/)

## All-in-one

Tady prostě nevím jak jinak to nazvat ale v posledních letech je ve spoustě firem hitem [Notion](https://www.notion.so/). Je to wiki+outliner+kanban+kalendář+todo-lists+docs… prostě všechno na jedný hromadě, dokumenty jsou rich, dají se vzájemně odkazovat a propojovat, dělat šablony atd. V Appliftingu to používají jako knowledge base, seznam zaměstnanců, prostě všechno ve firmě. Na osobní použití myslím good (tam je to zdarma) ale nesmí člověka zahltit ty možnosti

**Winner: [Notion.so](https://www.notion.so/)**

## Something extra

Pro zájemce ještě přidám kategorii nástrojů na které jsem narazil, vypadají slibně ale ještě jsem je nepoužil. Hodně je prý lidi používají na research čehokoliv nebo jako osobní knowledge base. Přijdou mi hodně jako Trillium nebo Tiddlywiki
- [Dendron](https://www.dendron.so/), [Tiddlyroam](https://tiddlyroam.org/), [obsidian](https://obsidian.md/), [remnote](https://www.remnote.io/), [athens research](https://github.com/athensresearch/athens), [joplin](https://github.com/laurent22/joplin)

## Rady do zahrady na závěr
### [git](https://git-scm.com/book/cs/v2/%C3%9Avod-Z%C3%A1klady-syst%C3%A9mu-Git)
Jakože asi všichni jsme zažili složky s dokumenty “seminárka”, “seminárka-v2”, “seminárka-v3”, “seminárka-final”, “seminárka-final-po-korektuře”, “seminárka-final-doopravdy-k-odeslání” atd. To už se dnes neděje, protože mám Drive který má historii editací ale tuhle historii můžete mít prakticky u jakýchkoliv digitálních souborů. Jednoduše pomocí verzovacího systému z nichž nejpopulárnější je git. Ten jednoduše vezme složku a všechny soubory v ní (na váš pokyn, tzv. commit) verzuje. Kdykoliv se tedy můžete vrátit, vidět historii změn a komentáře k nim, spolupracovat na datech, pracovat na více verzích najednou atd. Prostě dokonalý a to že máte veškerou historii někde zálohovanou je příjemný bonus

### [Markdown](https://cs.wikipedia.org/wiki/Markdown)
LaTeX pro chudý. Značkovací jazyk tak jednoduše jak to jde. Tedy člověk může psát v jakémkoliv textovém editoru a pomocí značek, které jsou pochopitelné i pro člověka (# pro nadpis, * pro zvýraznění, - pro seznamy atd) dokument obohatit. Většina nástrojů dnes Markdown podporuje, takže při zobrazení dokumentu má pak obsah i nějakou strukturu, může obsahovat obrázky atd.

### [TIL](https://www.reddit.com/r/todayilearned/)
TIL = Today I Learned. Skoro pořád se dozvídáme něco nového ale všechno to brzy zapomeneme a často objevujeme znovu. TIL je myšlenka dělat si zápisky rozdělené podle datumu nebo témat a zapisovat si do nich věci, které se člověk postupně dozvídá. Spoustu lidi má svoje TIL repozitáře veřejně přístupné (zase git) takže se dá využívat i takhle komunitně. Osobně moc nepoužívám ale pak za to pykám a řeším stejné problémy pořád dokola. Jeden kolega má takovýhle pracovní TIL - každý den vytvoří nový Markdown dokument a do něj zapisuje všechny poznámky z meetingů a různých schůzek za ten den. Má pak všechno archivované a s full-text vyhledáváním i s datumem.


## Conclusion

Well that’s all folks. Většinu zmíněných nástrojů jsem vyzkoušel “abyste vy nemuseli” tak doufám že vám to něco dá a až příště budete hledat ten správný nástroj, budete mít paletu řešení zase o něco bohatší. Snadno pak třeba skončíte u flow kdy si ve čtečce otevřete zajímavý článek z týdne, pošlete si link na něj s poznámkami na mail a odtamtud se vám automaticky přidá záznam do vaší knowledge base. Článek jako takový se vám pak automaticky stáhne do Dropbox složky a z vašich poznámek k němu se vytvoří nový post na vašem blogu.

**To zní cool ale takovouhle workflow nepotřebuje vůbec nikdo na týhle planetě, mně stačí Google Drive**

Tak pak to berte jako možnost najít nástroj, který vyhovuje vašim datům a vašemu postupu práce. Ne se snažit napasovat svoje potřeby do něčeho co zrovna váš nástroj umožňuje. A nebo jako možnost mít svoje data verzovaná, zálohovaná a nezávislá na jednom poskytovateli.

