html {
	color-scheme: light dark;
	overflow-y: scroll;
}
body {
	max-width: 45em;
	margin: 0 auto;
	padding: 0 1rem;
	width: auto;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	line-height: 1.5;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.content {
	text-size-adjust: none;
	-ms-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}
.footer {
	padding: 2rem 0 1rem;
	margin-top: auto;
}
nav {
	margin: 1rem 0 2rem;
	line-height: 1.8;
	border-bottom: 1px solid;
	display: flex;
}
.nav-right {
	margin-left: auto;
}
nav a:not(:last-child) {
	margin-right: 0.75rem;
}
nav a:hover {
	text-decoration: none;
}
li {
	line-height: 1.6;
}
li:not(:last-child) {
	padding-bottom: 0.75rem;
}
a,
a:visited {
	text-decoration: none;
}
a:visited {
	color: #00e;
}
@media (prefers-color-scheme: dark) {
	a:visited {
		color: #8c8cff;
	}
}
a:hover {
	text-decoration: underline;
}
.date,
.tags,
.tags a {
	color: silver;
}
.date {
	padding-right: 0.5rem;
	white-space: nowrap;
}
.tags {
	display: inline-block;
}
article.post,
article.project {
	display: flex;
}
.center-block,
.org-center,
.text-center {
	text-align: center;
}
.project {
	display: flex;
}
.project-details * {
	display: inline;
	line-height: 1.6;
}
.project-details p {
	margin-left: 0.3rem;
}
hr {
	border: 0;
	border-top: 1px solid #d3d3d3;
	margin: 2rem 0;
}
.blog-index article {
	padding-bottom: 0.5rem;
}
.projects-index article {
	padding-bottom: 0.75rem;
}
a.title {
	color: #000;
	padding-right: 0.25rem;
}
@media (prefers-color-scheme: dark) {
	a.title {
		color: #fff;
	}
}
.layout-post {
	hyphens: auto;
	text-align: justify;
	font-size: 1.1rem;
	line-height: 1.6;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: 0.03em;
}
.layout-post .title {
	hyphens: none;
}
.layout-post header {
	margin: 4rem 0 5rem;
	text-align: left;
}
.layout-post header.with-cover {
	margin-top: 2rem;
}
.layout-post header .date-tags {
	font-size: 1rem;
	margin: -1rem 0 0.5rem;
}
.layout-post p {
	margin: 0 0 0.4rem;
	line-height: 1.8;
}
.layout-post p + p {
	text-indent: 3rem;
}
.outline-2 + .outline-2 h2 {
	padding-top: 1.5rem;
}
.layout-post .title,
.layout-post .subtitle {
}
.layout-post .org-center,
.layout-post .text-center,
.layout-post .center-block {
	margin: 2rem 0;
}
hr.footnotes-separatator {
	display: none;
}
.footnote-definition {
	display: flex;
	vertical-align: top;
	margin-bottom: 0.4rem;
}
.footnote-body,
.footnote-body p {
	display: inline;
	margin-left: 0.25rem;
}
.layout-post .verse-block {
	text-align: right;
}
.verse-block p {
	white-space: pre;
}
.layout-post img {
	max-width: 75%;
	max-height: 400px;
}
.layout-post hr {
	border: 1px solid silver;
}
img.cover-img {
	width: 100%;
	max-width: 100%;
	max-height: 200px;
	object-fit: cover;
	margin-bottom: -2rem;
}
@media screen and (max-width: 768px) {
	.layout-post {
		line-height: 1.2;
		letter-spacing: unset;
		hyphens: none;
		text-align: left;
	}
	.layout-post p {
		margin: 0 0 1rem;
		line-height: 1.7;
	}
	.layout-post p + p {
		text-indent: 0;
	}
	.layout-post img {
		max-width: 100%;
	}
}
pre {
	font-size: 1rem;
	overflow-x: auto;
	line-height: 1.5;
	padding: 1rem;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.src pre::-webkit-scrollbar {
	display: none;
}
.layout-post :not(pre) > code {
	padding: 0.2em 0.4em;
	background-color: #f5f5f5 !important;
	color: #000;
	font-size: 1rem;
}
@media (prefers-color-scheme: dark) {
	.layout-post :not(pre) > code {
		background-color: rgba(110, 118, 129, 0.4) !important;
		color: #fff;
	}
}
.layout-post pre,
.layout-post code {
	border-radius: 6px;
	background-color: #f5f5f5 !important;
	font-size: 0.9rem;
	hyphens: none;
	color: #000;
}
blockquote {
	border-left: 2px solid #f5f5f5;
	padding-left: 1rem;
}
details summary {
	list-style: none;
	cursor: pointer;
}
details summary h3::after {
	content: "[+]";
	font-size: small;
	font-weight: 400;
	font-family: monospace;
	vertical-align: middle;
}
details[open] summary h3::after {
	content: "[-]";
}
details > summary::-webkit-details-marker {
	display: none;
}
@media screen and (max-width: 480px) {
	.hidden-mobile {
		display: none;
	}
}
.resume h3 {
	text-decoration: underline;
	padding-top: 1rem;
}
.resume .tags {
	display: block;
	padding-top: 0.5rem;
}
.resume header .date {
	float: right;
}
.resume header {
	margin-top: 2rem;
	border-bottom: 1px solid silver;
	padding-bottom: 0.5rem;
}
.resume ul {
	margin-bottom: 0.5rem;
}
@media print {
	.footer,
	nav {
		display: none;
	}
	.pagebreak {
		clear: both;
		page-break-after: always;
	}
}
